body{
  margin: 0;
}

/* ---------------------------------背景--------------------------------- */
/* スタート画面 */
.content_start{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/kokubann.jpg) !important;
  background-size: cover;
}
/* スタージ選択画面 */
.content_stage_choose{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/stage_choose.jpeg) !important;
  background-size: cover;
}
/* ルール説明画面 */
.content_rule{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/rule.jpg) !important;
  background-position: center;
  background-size: cover;
}
/* ゲーム1画面 */
.content_game1{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/game1.jpg) !important;
  background-size: cover;
}
/* ゲーム2画面 */
.content_game2{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/game2.jpg) !important;
  background-size: cover;
}
.content_game3{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/game3.jpg) !important;
  background-size: cover;
}
/* リザルト画面 */
.content_result{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/result.png);
  background-size: cover;
}
/* ランキング画面 */
.content_ranking{
  padding-top: 35px;
  height: 100%;
  background-image:url(../img/stage_choose.jpeg) !important;
  background-position: center;
  background-size: cover;
}
/* -------------------------------------------------------------------------- */
.users_form{
  position: absolute;
  top: 5%;
  z-index: 3;
  text-align: left;
  width: 95%;
  height: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.start_btn{
  display: block;
  width: 27%;
  padding: 10px;
  background-color: rgb(172, 83, 11);
  color: yellow;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 3px 2px #0c0b0c;
  user-select: none;
  border-radius: 25px;
}
.start_btn:active{
  opacity: 0.5;
}

/* スタート画面タイトル */
.content_start{
  position: relative;
}
.content_start .title{
  position: absolute;
  top: 40%;
  left: 7%;
  width: 80%;
  z-index: 3;
  text-align: center;
  line-height: 200%;
  padding: 10px;
  font-size: 50px;
  font-weight: 900;
  color: rgba(27, 231, 180, 0.795);
  text-shadow: 3px 4px 20px #ffffff;
} 

/* スタート画面イラスト */
.man{
  position: absolute;
  top: 15%;
  left: -10%;
  width: 60%;
  height: 30%;
  text-align: left;
  z-index: 2;
}
.man2{
  position: absolute;
  top: 5%;
  left: 15%;
  width: 85%;
  height: 50%;
  text-align: left;
  z-index: 1;
}
.vs_mark{
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
  text-align: left;
}
.mogura{
  position: absolute;
  top: 60%;
  left: 35%;
  width: 65%;
  height: 40%;
  text-align: left;
}  
.mogura2{
  position: absolute;
  top: 60%;
  left: -15%;
  width: 70%;
  height: 40%;
  text-align: left;
}
.transition_stage{
  position: absolute;
  top: 80%;
  left: 2%;
  width: 30%;
  line-height: 100%;
}
.transition_rule{
  position: absolute;
  top: 80%;
  left: 35%;
  width: 30%;
}
.transition_rank{
  position: absolute;
  top: 80%;
  left: 68%;
  width: 30%;
}

#login_form{
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 30px;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 5;
}
#login_form.hidden{
  transform:translateY(-1000px);
}

#new_register_form{
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 30px;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 5;
}
#new_register_form.hidden{
  transform:translateY(-1000px);
}

.value{
  margin: 0;
  margin-top: 15px;
  text-align: left;
  font-size: 15px;
}
.btn_flex{
  display: flex;
  justify-content: space-between;
}

.back_btn{
  display: block;
  margin-top: 20px;
  width: 40%;
  padding: 5px;
  background-color: rgb(31, 109, 226);
  color: whitesmoke;
  font-size: 17px;
  font-weight: bold;
  user-select: none;
  border-radius: 15px;
}

.input{
  width: 100%;
  height: 10%;
}
/* ルール説明画面 */
.rule{
  padding: 0;
  width: 80%;
  height: 90%;
  color: antiquewhite;
  margin: 0 auto;
}
.rule_title{
  font-size: 40px !important;
  color: rgb(235, 231, 8);
}
.mogura{
  list-style: none;
}
.mogurasyoukai{
  width: 100%;
  display: flex;
  font-size: 13px;
}
.mogurasyoukai img{
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
.sousa{
  text-align: left;
}
.target{
  text-align: left;
}

/* ステージ選択 */
.stage_choose_title{
  width: 80%;
  background-color: rgba(44, 161, 9, 0.61);
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 1px;
  letter-spacing: 3px;
}
.stage_choose_title > h2{
  color: white;
  font-weight: bold;
  text-shadow: 1px 3px 2px #0c0b0c;
}
.push-stage-button{
  text-align: left;
  width: 95%;
  margin: 10px auto;
  height: 25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-shadow: 1px 3px 2px #0c0b0c;
  letter-spacing: 1px;
}
.push-stage-button h2{
  font-weight: bold !important;
  padding: 8px;
  color: white;
}

#push-stage1-button{
  background-image:url(../img/game1.jpg) !important;
  background-size: cover;
}
#push-stage2-button{
  background-image:url(../img/game2.jpg) !important;
  background-size: cover;
}
#push-stage3-button{
  background-image:url(../img/game3.jpg) !important;
  background-size: cover;
}

.special_rule{
  list-style: none;
  margin: 0;
  font-size: 22px;
}

/* ゲーム画面得点と時間の表示 */
.info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: red;
}
.info2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: red;
}

.infobox{
  background: cornsilk;
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.infohidden{
  display: none;
}

/* ゲーム画面穴配置 */
.moguratataki{
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: repeat(6,25%);
  justify-content: center;
  margin-top: 25px;
}

.moguratataki > img{
  margin: 0 auto;
  width: 64px;
  height: 64px;
}

/* ゲーム画面スタートボタン */

#start{
  position: absolute;
  top: 40%;
  left: 25%;
  right: 25%;
  display: block;
  background-color: whitesmoke;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 150px;
  padding: 25px;
  font-weight: bold;
  font-size: 25px;
  z-index: 5;
}

#start:not([value="スタート！"]){
  display: none;
}

/* ゲーム画面 */
.game{
  position: relative;
  width: 100%;
  height: 100%;
}


/* ゲーム画面ゲーム終了時の黒背景 */
.black_back{
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 107%;
  background: black;
  opacity: 0.5;
  z-index: 4;
}

/* ゲーム画面ゲーム終了時のフォーム */
#stop{
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 30px;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 5;
}

#countdown{
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 100px;
  padding: 30px;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  transition: 0.2s;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 5;
}

#countdown.hidden{
  transform:translateY(-1000px);
}

#stop.hidden{
  transform:translateY(-1000px);
}

/* リザルト画面 */
.content_result > .result{
  width: 70%;
  height:70%;
  padding: 50px;
  background-position: center;
  background-image: url(../img/hyouka.png);
  background-size: cover;
  margin: 0 auto;
}

.result > .kekka{
  font-size: 40px;
  color:yellow;
  font-weight: bold;
}

.tennsuu{
  font-size: 40px;
  color:red;
  font-weight: bold;
}

.result > .hyouka{
  width:100%;
  text-align: center;
  margin: 0 auto;
  color: white;
  border: 4px solid white;
  border-radius: 8px;
}

/* ランキング画面 */
.ranking_title{
  color: white;
  width: 90%;
  height: 10%;
  font-size: 35px !important;
  font-weight: bold !important;
  background-color: rgb(13, 194, 58);
  border-radius: 4px;
  text-shadow: 1px 3px 2px #0c0b0c;
  margin-bottom: 10px !important;
}

.rank{
  width: 95% !important;
  height: 25% !important;
  background-color: rgb(240, 172, 116);
  border: 4px solid rgb(231, 130, 47);
  border-radius: 10px;
  margin: 16px 10px;
  display: flex;
  justify-content: space-between;
}

.rank_img{
  width: 25%;
  height: 80px;
}

.rank_score{
  background: rgb(228, 143, 73);
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8) inset;
  margin: auto auto !important;
  width: 70%;
  height: 50%;
  color: whitesmoke;
  font-size: 40px !important;
  font-weight: bold !important;
  text-shadow: 1px 3px 2px #0c0b0c;
}